
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.400);
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-text {
  position: relative;
  z-index: 1003;
  font-size: 40px;
  animation: loading-zoom 5s infinite;
}
.loading-spinner {
  position: absolute;
  z-index: 1002;
  width: 300px;
  height: 300px;
  border-radius: 1000px;
  background-color: transparent;
  animation: loading-spin 3s infinite;
}
.car-body-top {
  position: relative;
  left: 155px;
  width: 10px;
  height: 0;
  border-bottom: 8px solid royalblue;
  border-left: 7px solid transparent;
  border-right: 9px solid transparent;
}
.car-body-bottom {
  position: relative;
  left: 150px;
  width: 40px;
  height: 10px;
  border-radius: 2px;
  background-color: royalblue;
}
.car-tire:first-child{
  position: relative;
  left: 155px;
  top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 1000px;
  background-color: royalblue;
} 
.car-tire:last-child {
  position: relative;
  left: 175px;
  top: -15px;
  width: 10px;
  height: 10px;
  border-radius: 1000px;
  background-color: royalblue;
} 

@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes loading-zoom {
  /* 0%   {top: 0px;}
  17%  {top: -20px;}
  32%  {top: 0px;}
  49%  {top: -15px;}
  66% {top: 0px;}
  84% {top: -10px;}
  100% {top: 0px;} */
  0% {font-size: 45px;}
  50% {font-size: 40px;}
  100% {font-size: 45px;}
}

/* root */
#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* header dashboard */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  max-height: 40px;
}
header h4{
  color: white;
  letter-spacing: 0.3px;
}
header .card-wrapper {
  margin-left: auto;
  margin-right: 10px;
  border-color: white;
}
header .card-wrapper:hover {
  background-color: rgb(172, 172, 172);
}
header .toggle-menu {
  padding: 1px;
}

/* general */
nav{
  background-color: #acacac;
}

ul{
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  padding-inline-start: 0 !important;
  display: block;
  justify-content: center;
  width: 100%;
  list-style-type: none;
}
ul li{
  height: 40px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  background-color: inherit;
}
ul li:hover{
  background-color: rgb(172, 172, 172);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
ul li a{
  width: 100%;
  height: 100%;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: padding 0.2s;
}
span {
  padding-left: 6px;
}
.nav-dropdown {
  width: 100%;
  height: 100%;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.sub-nav{
  height: 0px;
  background-color: rgba(180, 180, 180, 1);
  position: relative;
  /* bottom: 100px; */
  overflow: hidden;
  transition: height 0.25s;
}
.sub-nav.active{
  height: 60px;
  /* bottom: 0px; */
}
.sub-nav a{
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.6px;
  border-top: solid rgba(169, 169, 169, 169) 0.5px;
}
.sub-nav.active a{
  height: 30px;
  
}
.sub-active {
  background-color: rgb(200, 200, 200);
}
.triangle-right {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 10px solid rgb(139, 146, 158);
  border-bottom: 7px solid transparent;
}
.dropdown-cursor-show {
  margin-left: auto;
  margin-right: 6px;
  transform: rotate(90deg);
}
.dropdown-cursor-hide {
  margin-left: auto;
  margin-right: 6px;
  transform: rotate(0deg);
}

.heading {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 3px;
}

.content{
  background-color: white;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  overflow-y: scroll !important;
  padding-left: 20px;
  padding-top: 15px;
}
.content p{
  padding: 0 !important;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  margin-left: -30px;
  font-weight: 400;
  font-size: 14px;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

/* dashboard */
.timestamp {
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px 5px 5px 5px;
}
th{
  position: sticky;
  top: -21px;
  background-color: rgba(172, 172, 172, 1);
  text-align: left;
  padding: 8px 5px;
}

tbody{
  overflow-y: hidden;
  background-color: rgb(232, 232, 232);

}
td{
  padding: 5px;
}
tr td:first-child {
  padding-left: 10px;
}
thead th:first-child {
  padding-left: 10px;
}
tr {
  border-bottom: solid rgb(169, 169, 169) 0.5px;
}
tr:last-of-type{
  border-bottom: solid rgb(169, 169, 169) 1.5px;
}

.table-mahasiswa-content th {
  position: sticky;
  top: 0px;
}

.table-footer {
  font-size: 14px;
  font-weight: 600;
  background-color: rgb(139, 146, 158) ;
}

.summary {
  padding: 10px;
  
}
.summary table th {
  background-color: transparent;
}
.selector {
  color: rgb(50,50,50);
  height: 22px;
  border-radius: 5px;
  font-weight: 500;
  border-width: 1px;
  border-color: rgb(150, 150, 150);
}
.selector:focus {
  color: black;
  border-width: 1px;
  outline: none;
}
.statistics {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.statistics .header{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 10px;
}
.statistics canvas{
  max-height: 400px;
  max-width: 400px;
}


/* camera */
.opencv {
  margin-top: 20px;
}
.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  margin: 8px;
  flex-wrap: wrap;
}
.control-bar{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.control-bar form {
  margin-left: 5px;
  margin-right: 5px;
}

.form-group {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
  display: flex;
  justify-content: space-evenly;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
.form-group input,.form-group select {
  padding: 0;
  margin: 0;
  margin-left: auto;
  width: 180px;
}


.modal-footer {
  /* margin-top: 50px; */
  position: relative;
  display: flex;
  top: 20px;
}

.db {
  padding: 0;
}

.searchbar {
  margin-left: 20px;
  position: relative;
  top: 5px;
  align-items: flex-end;
}
.searchbar input {
  width: 0px;
  margin: 0!important;
  padding: 0!important;
  transition: width 0.4s;
  border-color: transparent;
  border-bottom: 1px solid transparent;
  outline: none;
}
.searchbar:hover input, .searchbar input:active, .searchbar input:focus {
  width: 120px;
  border-color: transparent;
  border-bottom: 1px solid rgb(172, 172, 172) ;
}
.searchbar.active input{
  width: 120px;
  border-color: transparent;
  border-bottom: 1px solid rgb(172, 172, 172) ;
}
.searchbar svg{
  margin-right: 3px;
}

input.styled {
  outline: none;
  border: 0.8px solid black;
  border-radius: 2px;
}
input:disabled {
  border: 1px solid gray;
}
input.styled:focus{
  outline: none;
  /* border: 1px solid blue; */
  border-color: #dadada;
  box-shadow: 0 0 4px #787676;
  /* border-bottom: 2px solid rgb(172, 172, 172); */
}
select.styled {
  outline: none;
  border: 0.8px solid black;
  border-radius: 2px;
}
select.styled:focus {
  outline: none;
  /* border: 1px solid blue; */
  border-color: #dadada;
  box-shadow: 0 0 4px #787676;
}

/* scrollbar */
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background:rgba(172, 172, 172, 0);
  max-width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: #888;
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #555;
}


/* mobile view*/
@media only screen and (max-width: 750px) {
  #root {
    min-width: 400px;
    display: flex;
    flex-direction: column;
  }
 
  .content {
    padding-left: 5px;
  }

  header h4 {
    margin-left: auto;
  }

  nav {
    z-index: 998;
    position: fixed;
    width: 100%;
    top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-height: 0px; 
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }
  nav.show {
    max-height: 180px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.400);
  }
  nav.show::after {
    content: "";
    background-color: transparent;
    width: 100%;
    height: calc(100vh - 220px);
    position: fixed;
    top: 220px;
    bottom: 0;
    left: 0;
    bottom: 0;
  }

  nav.dropdown{
    display: block;
  }
  nav ul li{
    padding-left: 20px;
    padding-right: 20px;
  }
  nav ul li a{
    height: 40px;
    justify-content: center;
    padding-left: auto;
    padding-right: auto;
  }
  nav ul li .nav-dropdown{
    height: 40px;
    justify-content: center;
    padding-left: auto;
    padding-right: auto;
    border-radius: 20px;
    /* transition: border-bottom-right-radius 0.25s linear 0.2s, border-bottom-left-radius 0.25s linear 0.2s; */
  }
  nav ul li a.active{
    border-radius: 100px;
    background-color: rgba(200, 200, 200, 1);
  }
  nav ul li .nav-dropdown.active{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: rgba(180, 180, 180, 1);
    transition: border-bottom-right-radius 0s linear 0s, border-bottom-left-radius 0s linear 0s;
  }
  nav ul li a:hover{
    background-color: rgba(180, 180, 180, 1);
    border-radius: 20px;
  }
  nav ul .nav-dropdown:hover{
    height: 40px;
    background-color: rgba(180, 180, 180, 1);
    border-radius: 20px;
    transition: border-bottom-right-radius 0.25s linear 0.2s, border-bottom-left-radius 0.25s linear 0.2s;
  }
  nav ul li a.active:hover {
    background-color: rgba(200, 200, 200, 1);
  }
  nav ul .nav-dropdown.active:hover{
    height: 40px;
    background-color: rgba(180, 180, 180, 1);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .dropdown-cursor-hide{
    margin-left: 10px;
  }
  .dropdown-cursor-show{
    margin-left: 10px;
  }
  .sub-nav {
    margin: 0px 20px 0px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(180, 180, 180, 1);
  }
  .sub-nav a{
    height: 30px;
    display: flex;
    justify-content: center;
  }
  .sub-nav.active {
  }
  .sub-nav.active a{
    
  }


  .timestamp {
    max-height: 600px;
    overflow-y: scroll;
  }
  

}

/* big screen */
@media only screen and (min-width: 750px) {
  /* grid */
  #root {
    display: grid;
    grid-template-areas:  "header header"
                "nav main";
    grid-template-columns: 160px 1fr;
    grid-template-rows: 40px 1fr;
  }
  header{
    grid-area: header;
  }
  nav{
    grid-area: nav;
  }
  .content{
    grid-area: main;
  }
  .content .opencv {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timestamp {
    max-height: 600px;
    overflow-y: scroll;
  }

  /* hide menu toggler */
  header .toggle-menu {
    display: none;
  }
  header h4 {
    margin-left: auto;
    margin-right: auto;
  }

  nav{
    display: flex;
    justify-content: left;
    min-width: 150px;
    max-width: 300px;
  }
  nav ul li {
    padding-left: 10px;
  }
  /* nav ul li:last-child{
    display: none;
  } */
  nav ul li a {
    padding-left: 3px;
  }
  nav ul li .nav-dropdown{
    padding-left: 3px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    transition: border-bottom-left-radius 0.25s linear 0.2s, padding-left 0.2s;
  }
   nav ul li a:hover{
    background-color: rgba(180, 180, 180, 1);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  nav ul li .nav-dropdown:hover{
    background-color: rgba(180, 180, 180, 1);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  nav ul li a.active {
    background-color: rgba(200, 200, 200, 1);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 15px;
  }
  nav ul li .nav-dropdown.active {
    background-color: rgba(180, 180, 180, 1);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0px;
    transition: border-bottom-left-radius 0s linear 0s, padding-left 0.2s;
    padding-left: 15px;
  }
  nav ul li a.active:hover {
    background-color: rgba(200, 200, 200, 1);
  }
  .sub-nav a{
    padding-left: 20px;
  }
  .sub-nav {
    background-color: rgba(180, 180, 180, 1);
    margin-left: 10px;
    border-bottom-left-radius: 20px;
  }
  .sub-nav.active a:hover {
    /* background-color: rgba(200, 200, 200, 1); */
  }
}

@media screen and (min-width: 1300px) {
  main[dashboard="main"] {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

